#content
  %h2 
    == Your #{@book_marks.length} bookmarks
  %ol
    -@book_marks.each do |b|
      %li
        %label Bookmark:
        %a{:href => "#{b.link}"} 
          = b.title
        %form{:method => "post", :action => "/bookmarks/"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
          %input{:type => "hidden", :name => "id", :value => "#{b.id}"}
          %a{:href => "/bookmarks/#{b.id}"}
            View
          %label or
          %input{:type => "submit", :value => "Delete"}

  
  %h2 New Bookmark
  %form{:method => "post", :action => "/bookmarks/"}
    %label Title:
    %input{:type => "text", :id => "title", :name => "title", :value => ""}
    %br
    %label URL:
    %input{:type => "text", :id => "link", :name => "link", :value => ""}
    %br
    %input{:type => "submit", :value => "Add"}
    
    